* {
    margin: 0;
    padding: 0;
}

div,
body {
    display: flex;
}

ul {
    list-style: none;
}

#body-container {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 1rem;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}