* {
    margin: 0;
    padding: 0;
}

div,
body {
    display: flex;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#body-container {
    box-sizing: border-box;
    min-height: 100vh;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

/* layout part */

#header {
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

#hero {
    padding: 1rem;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;
}

#hero > div {
    justify-content: center;
    align-items: center;
}

#main {
    padding: 1rem;
    flex: 1;
}

#footer {
    padding: 1rem;
    justify-content: center;
    align-items: center;
}
/* Modules part */

@font-face {
    font-family: quillstone;
    src: url(fonts/quillstone-free.regular.otf);
}

.logo {
    font-family: quillstone, Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

.burger-button {
    background: none;
    background-image: url(images/menu.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 30px;
    height: 30px;
    border: 0;
}

.navigation {
    flex: 0 1 500px;
}

.navigation-dropdown {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 100%);
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
}

.navigation-links {
    flex: 0 1 500px;
}

/* States part */

.vertical-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0.5rem;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.xxl-text {
    font-size: 3rem;
}

.m-text {
    font-size: 1rem;
}