.dialog__text-input {
    flex: 1 1 150px;
    outline: none;
    border-inline: none;
    border-top: none;
    border-color: rgb(158, 158, 158);
    line-height: 1.5;
    font-size: 1rem;
}

.dialog__text-input:focus {
    border-color: rgb(0, 0, 40);
}